@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
*{
    margin: 0px;
    padding: 0%;
    box-sizing: border-box;
}
.Header{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    background: linear-gradient(to right, #13599b, #0f3d74, #1a2e54 );
    color: white;
}
.bienvenida{
    gap: 805px;
    display: flex;
    width: 1600px;
}
h1{
    font-family: 'Oswald', sans-serif; 
}
.p-one{
    width: 276.88px;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: center;
    align-self: center
    ;
    
}
.container{
    height: 400px;
}
.container-buttons{
    gap: 100px;
    display: flex;
    width: 100%;
    height: 100%;
    background-color:#13599b;
    justify-content:space-between ;
}
.button-one{
    width: 300px;
    font-size: 30px;
    font-family: 'Oswald', sans-serif; 
    color: white;
    background: linear-gradient(to right, #13599b, #0f3d74, #1a2e54 );
}
.button-two{
    width: 300px;
    font-size: 30px;
    font-family: 'Oswald', sans-serif; 
    color: white;
    background: linear-gradient(to right, #1a2e54, #0f3d74 );
}
.button-three{
    width: 300px;
    font-size: 30px;
    font-family: 'Oswald', sans-serif; 
    color: white;
    background: linear-gradient(to right, #1a2e54, #0f3d74, #13599b );
}
.viewarea{
    height: 400px;
    background-color: #13599b;
    display: flex;
    align-items: center;
    justify-content: center;
}
.viewarea-container{
    width: 750px;
    height: 230px;
    border-radius: 20px;
    background: linear-gradient(to right, #0f3d74, #1a2e54 );
    display: flex;
    justify-content: center;

}
.p-two{
    font-size: 30px;
    font-family: 'Oswald', sans-serif; 
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


