@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
*{
    margin: 0px;
    padding: 0%;
    box-sizing: border-box;
}
.Header{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    background-color:#13599b;
    color: white;
}
.bienvenida{
    gap: 885px;
    display: flex;
}
h1{
    font-family: 'Oswald', sans-serif; 
}
p{
    width: 276.88px;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
}
.container{
    height: 400px;
}
.container-buttons{
    gap: 200px;
    display: flex;
    width: 100%;
    height: 100%;
    background-color:#13599b;
    justify-content:space-between ;
}
.button-one{
    width: 300px;
    font-size: 30px;
    font-family: 'Oswald', sans-serif; 
    color: white;
    background: linear-gradient(to right, #13599b, #0f3d74, #1a2e54 );
}
.button-two{
    width: 300px;
    font-size: 30px;
    font-family: 'Oswald', sans-serif; 
    color: white;
    background: linear-gradient(to right, #1a2e54, #0f3d74 );
}
.button-three{
    width: 300px;
    font-size: 30px;
    font-family: 'Oswald', sans-serif; 
    color: white;
    background: linear-gradient(to right, #1a2e54, #0f3d74, #13599b );
}
.viewarea{
    height: 200px;
    background-color: #13599b;
}
.viewarea-container{
    
}

